.footerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 100px auto 0;
}

.footerLists{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fList{
    list-style: none;
}
.fListItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
}